// === imports ===
@import "normalize.css";
@import "./fonts.scss";
@import "./tailwind.scss";
// === / imports ===
// === variables ===
$brand-text-color: #22356F;
$brand-background-color: #62D0DF;

$padding-sefiry: 20px;
// === / variables ===
// === global ===
body {
    display: grid;
    background: #fff;
}

.container {
    max-width: 1120px;
    padding: 0 clamp(10px, 1vw, $padding-sefiry);
}

p {
    font-size: 24px;
}

.description {
    font-size: 16px;
}

.text__nav {
    font-size: 14px;
}

.title {
    font-size: 36px;
}

.card__title {
    font-size: 32px;
}

.second-card__title {
    font-size: 36px;
}

.button {
    width: 150px;
    height: 50px;
    font-weight: bold;
    border-radius: 50px;
}
// === / global ===
// === header ===
.header {
    background: #F4F9E2;
}

.logo {
    color: $brand-background-color;
    font-weight: bold;
}

.nav {
    padding-top: 27px;
    padding-bottom: 27px;

    @media (max-width: 498px) {
        &>*:not(:last-child) {
            margin-bottom: $padding-sefiry;
        }
    }

    &__list {
        color: $brand-text-color;
        font-weight: 500;

        & > li {
            &::after {
                content: "";
                transition: .5s;
                display: block;
                opacity: 0;
                height: 1px;
                width: 100%;
                background: $brand-text-color;
            }
            
            &:hover {
                &::after {
                    opacity: 100;
                }
            }

            &:not(:last-child) {
                margin-right: clamp(10px, 1vw, 32px);
            }

            a {
                :hover {
                    font-weight: bold;
                }
            }
        }
    }
    
    &-button {
        background: $brand-background-color;
        color: #fff;
        transition: .5s;

        &:hover {
            background: #fff;
            color: $brand-background-color;
        }
    }
}

// === / header ===