// === imports ===
@import "normalize.css";
@import "./fonts.scss";
@import "./tailwind.scss";
// === / imports ===
// === variables ===
$brand-text-color: #22356F;
$brand-background-color: #62D0DF;

$padding-sefiry: 20px;
// === / variables ===
// === global ===
body {
    background: #FFF;
}

.container {
    max-width: 1120px;
    padding-left: 20px;
    padding-right: 20px;
}

.description {
    font-size: 16px;
}

.text__nav {
    font-size: 14px;
}

.card__title {
    font-size: 32px;
}

.second-card__title {
    font-size: 36px;
}

.button {
    width: 150px;
    height: 50px;
    transition: .5s; 
    font-weight: bold;
}
// === / global ===
// === header ===
.header {
    position: relative;
    overflow: hidden;
    
    &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: clamp(240px, 51vw, 740px);
        height: clamp(230px, 50vw, 730px);
        background: url("img/Header/background-image.png") no-repeat;
        background-position: right;
        background-size: contain;
        z-index: 2;

        @media (max-width: 830px) {
            display: none;
        }
    }
    
    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: clamp(200px, 45vw, 600px);
        height: clamp(331px, 60vw, 993px);
        background: url("img/Header/background.svg") no-repeat;
        background-size: contain;

        @media (max-width: 830px) {
            display: none;
        }
    }

    .background {
        content: "";
        position: absolute;
        left: 0;
        z-index: -1;
        background: #F4F9E2;
        display: block;
        width: 77vw;
        height: 100%;

        @media (max-width: 830px) {
            width: 100vw;
        }
    }

    .container {

        .nav {
            padding-top: 27px;
            padding-bottom: 27px;
        
            @media (max-width: 498px) {
                &>*:not(:last-child) {
                    margin-bottom: $padding-sefiry;
                }
            }
        
            .list {
                color: $brand-text-color;
                font-weight: 500;
        
                & > li {
                    &::after {
                        content: "";
                        transition: .5s;
                        display: block;
                        opacity: 0;
                        height: 1px;
                        width: 100%;
                        background: $brand-text-color;
                    }
                    
                    &:hover {
                        &::after {
                            opacity: 100;
                        }
                    }
        
                    &:not(:last-child) {
                        margin-right: clamp(10px, 1vw, 32px);
                    }
        
                    a {
                        :hover {
                            font-weight: bold;
                        }
                    }
                }
            }
            
            &-button {
                position: relative;
                z-index: 3;
                background: $brand-background-color;
                color: #FFF;
                border-radius: 50px;
        
                &:hover {
                    background: #FFF;
                    color: $brand-background-color;
                }
            }
        }

        .content {
    
            &__subtitle {
                max-width: 490px;
                color: $brand-text-color;
            }
    
            .buttons {
                @media (max-width: 336px) {
                    & > *:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }

                .primary {
                    background: #F9B640;
                    color: #FFF;

                    &:hover {
                        background: inherit;
                        color: #F9B640;
                    }
                }
    
                .second {
                    background-color: inherit;
                    color: #F9B640;

                    &:hover {
                        background: #F9B640;
                        color: #FFF;
                    }
                }
            }
        }
    }
}

.logo {
    color: $brand-background-color;
    font-weight: bold;
}

h1 {
    color: $brand-text-color;
    font-size: clamp(32px, 3vw, 48px);
    max-width: 500px;
}
// === / header ===
// === main ===
// === why ===
.why {
    
    .container {
        max-width: none;
        padding: 0;
        color: #FFF;
        grid-template-areas: "content img";
        grid-template-columns: 1.7fr 1fr;
        
        .content {
            padding-top: 150px;
            background: $brand-background-color;
            grid-area: "content";
        
            .title {
            }

            .subtitle {
                max-width: 555px;
            }
        }
    }
    
    &-img {
        grid-area: "imng";

        img {
            width: 100%;
            height: 605px;
            object-fit: fill;
        }
    }
}
// === / why ===
// === / main ===